/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav {
    font-size: 1px; } }

body {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #222831;
  height: auto; }

nav {
  height: 44px; }

.nav__a {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  padding: 10px;
  margin: 3px; }

.section__img {
  width: 900px;
  height: 500px;
  margin: 25px; }

.text-media {
  font-size: 15px;
  color: white;
  text-align: center; }

p {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: auto;
  word-spacing: auto;
  line-height: auto;
  padding: 5px;
  text-align: center; }

.p__contacto {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  padding: 0px;
  margin: 0px;
  text-align: start;
  line-height: 20px;
  padding: 5px; }

h1 {
  text-transform: capitalize;
  font-size: 55px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #a3d2ca;
  letter-spacing: normal;
  word-spacing: 10px;
  padding: 5px; }

.container__h1 {
  position: relative; }
  .container__h1 .center {
    position: absolute;
    top: 80%; }
    .container__h1 .center .h1__rosa {
      font-family: 'Bebas Neue', cursive;
      letter-spacing: normal;
      color: #f17668ef;
      font-size: 65px;
      padding: 10px;
      margin: 10px;
      background-color: #131313c9;
      align-items: center; }

.recuadro__h1 {
  display: flex;
  background-color: #f8f1f136;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto; }

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: normal;
  text-transform: capitalize;
  font-size: 40px;
  color: #a3d2ca;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 14px;
  padding: 0px; }

.h2__media {
  text-align: start; }

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  line-height: normal;
  text-transform: capitalize;
  color: #db6400;
  text-align: center;
  margin: 8px;
  padding: 2px;
  text-decoration: overline; }

.h3__underline {
  text-decoration: underline; }

.h3__left {
  text-align: start;
  color: #db6400;
  margin: 0px; }

.h3__media {
  color: #db6400;
  text-align: center;
  text-decoration: none; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
  color: #5eaaa8;
  text-align: center; }

.basic {
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  color: #db6400;
  text-align: start;
  padding: 5px;
  text-decoration: overline; }

.galeria {
  width: 220px;
  height: 207px;
  margin: auto;
  padding: 0px; }

.galeria__2 {
  width: 400px;
  height: 500px;
  padding: 0px;
  background-color: black; }

.presupuesto {
  width: 250px;
  height: 250px; }

.rounded-cirlce {
  width: 200px;
  height: 200px; }

.media {
  margin: 15px;
  padding: 5px; }

.card {
  background-color: transparent;
  padding: 5px;
  width: 200px;
  height: 240px;
  justify-content: center;
  align-items: center;
  position: static; }

.card-title {
  font-family: "Oswald", sans-serif;
  font-size: 35px; }

.card-text {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif; }

.animacion {
  animation-duration: 7s;
  animation-name: aparecer; }

.card-d {
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px; }

.card-body-d {
  color: #db6400;
  text-align: center;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  text-decoration: overline;
  font-size: 15px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flex-container {
  display: flex;
  margin: 20px;
  padding: 30px;
  text-align: center; }

.carrousel {
  margin: 20px; }

.button_1 {
  float: left;
  margin: 17px; }

.button_2 {
  float: right;
  margin: 17px; }

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  margin: 10px;
  padding: auto;
  justify-content: center;
  align-items: center; }

.grid__5 {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto auto 77px;
  grid-column-gap: 35px;
  grid-row-gap: 5px;
  justify-content: center;
  justify-items: center;
  margin: 15px; }

.footer {
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
  display: inline-block;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-color: #464646;
  text-align: center;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px; }
  .footer .footer__p {
    color: white; }
