@charset "UTF-8";
body {
  font-family: "Oswald", sans-serif;
  height: 1000px;
  padding: 0px;
  margin: 0px; }

.section__img {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: 25px; }

.background {
  background-color: black; }

nav {
  display: flex;
  width: 100%;
  height: 50px;
  text-transform: none 18px;
  text-decoration: none;
  align-items: center;
  justify-content: center; }
  nav ul {
    letter-spacing: 0,8px;
    word-spacing: 5px; }
    nav ul li {
      display: inline-block;
      padding: 4px;
      margin: 5px; }
      nav ul li a {
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: white;
        font-family: "Oswald", sans-serif; }

p {
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize 20px;
  text-decoration: none;
  letter-spacing: auto;
  word-spacing: auto;
  line-height: auto;
  padding: 5px;
  text-align: center; }

h1 {
  text-transform: capitalize;
  font-size: 65px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #0b4b2e;
  letter-spacing: normal;
  word-spacing: 10px;
  padding: 10px; }

.container__h1 {
  position: relative; }
  .container__h1 .center {
    position: absolute;
    top: 79%; }
    .container__h1 .center .h1__rosa {
      font-family: 'Bebas Neue', cursive;
      letter-spacing: normal;
      color: #f17668ef;
      font-size: 65px;
      padding: 14px;
      margin: 0px;
      background-color: #131313c9;
      align-items: center; }

.recuadro__h1 {
  background-color: #dbdbdb;
  margin: 20px;
  justify-content: center;
  align-content: center; }

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: normal;
  text-transform: capitalize 40px;
  color: #17A363;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 30px;
  padding: 5px; }

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  line-height: normal;
  text-transform: capitalize 25px;
  color: darkorange;
  text-align: center;
  margin: 8px;
  padding: 2px;
  text-decoration: overline; }

.h3__underline {
  text-decoration: underline; }

.h3__left {
  text-align: start; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  line-height: normal;
  text-transform: capitalize 25px;
  color: #17A363;
  text-align: center; }

.card {
  background-color: black;
  padding: 5px;
  width: 200px;
  height: 240px;
  justify-content: center;
  align-items: center; }

.card-title {
  font-family: "Oswald", sans-serif;
  font-size: 35px; }

.card-text {
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.animacion {
  animation-duration: 5s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flex-container {
  display: flex;
  margin: 20px;
  padding: 30px;
  text-align: center; }

.grid3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
  grid-row-gap: 10px;
  grid-column-gap: 40px;
  padding: 0px;
  margin: 75px;
  justify-content: center;
  align-items: center;
  text-align: center; }

.grid4 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 400px 400px 400px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin: 50px;
  justify-content: center; }

.grid__5 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 350px 100px;
  grid-column-gap: 35px;
  grid-row-gap: 10px;
  justify-content: center;
  justify-items: center;
  margin: 40px; }

.grid__6 {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 30px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px; }

.galeria {
  width: 100%;
  height: 100%; }

.tamaño {
  width: 400px;
  height: 450px;
  justify-content: center;
  align-items: center; }

.presupuesto {
  width: 100%;
  height: 100%; }

.basic {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize 70px;
  color: darkorange;
  text-decoration: black; }

.footer {
  position: 0;
  margin-top: 0px;
  padding-top: 0px;
  display: inline-block;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-color: #464646;
  text-align: center;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 50px; }
  .footer .footer__p {
    color: white; }
