/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav {
    font-size: 1px; } }

body {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: auto;
  background-color: #222831;
  height: auto; }

nav {
  height: 50px;
  background-color: transparent; }

.nav__a {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  padding: 10px;
  margin: 3px; }

.section__img {
  width: 1100px;
  height: auto;
  margin: auto;
  padding: auto; }

.text-media {
  font-size: 14px;
  color: white;
  text-align: start; }

p {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  text-transform: inherit;
  letter-spacing: auto;
  word-spacing: auto;
  line-height: auto;
  padding: 5px;
  text-align: center; }

.p__contacto {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  padding: 0px;
  margin: 0px;
  text-align: start;
  line-height: 20px;
  padding: 5px; }

h1 {
  text-transform: capitalize;
  font-size: 55px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #a3d2ca;
  letter-spacing: normal;
  word-spacing: 10px;
  padding: 5px; }

.container__h1 {
  position: relative; }
  .container__h1 .center {
    position: absolute;
    top: 10%; }
    .container__h1 .center .h1__rosa {
      font-family: 'Bebas Neue', cursive;
      letter-spacing: normal;
      color: #f17668ef;
      font-size: 65px;
      text-transform: capitalize;
      padding: 10px;
      margin: 0px;
      background-color: rgba(0, 0, 0, 0.753);
      align-items: center; }

.top-left {
  position: absolute;
  top: 8px;
  left: 16px; }

.top-right {
  position: absolute;
  top: 100px;
  right: 16px; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px; }

.recuadro__h1 {
  display: flex;
  background-color: #f8f1f136;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto; }

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: normal;
  text-transform: capitalize;
  font-size: 40px;
  color: #a3d2ca;
  letter-spacing: normal;
  word-spacing: normal;
  margin: auto;
  padding: 0px; }

.h2__media {
  text-align: start; }

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
  color: #db6400;
  text-align: center;
  margin: 8px;
  padding: 2px;
  text-decoration: overline; }

.h3__underline {
  text-decoration: underline; }

.h3__left {
  text-align: start;
  color: #db6400;
  margin: 0px; }

.h3__media {
  color: #db6400;
  text-align: center;
  text-decoration: none; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
  color: #5eaaa8;
  text-align: center; }

.basic {
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  color: #db6400;
  text-align: start;
  padding: 5px;
  text-decoration: overline; }

.galeria {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px; }

.galeria__2 {
  width: 400px;
  height: 500px;
  padding: 0px;
  background-color: black;
  margin: 0px; }

.presupuesto {
  width: 250px;
  height: 250px; }

.rounded-cirlce {
  width: 200px;
  height: 200px; }

.media {
  margin: 20px;
  padding: 0px; }

.card {
  width: 200px;
  height: auto;
  background-color: transparent;
  margin: 20px;
  position: static; }

.card-title {
  font-family: "Oswald", sans-serif;
  font-size: 35px; }

.card-text {
  color: white;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize; }

.animacion {
  animation-duration: 7s;
  animation-name: aparecer; }

.card-d {
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px; }

.card-body-d {
  color: #db6400;
  text-align: center;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  text-decoration: overline;
  font-size: 15px; }

.card-link {
  color: #f17668ef; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.swing-top-fwd {
  animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes swing-top-fwd {
  0% {
    transform: rotateX(0);
    transform-origin: top; }
  100% {
    transform: rotateX(180deg);
    transform-origin: top; } }

.flex-container {
  display: flex;
  margin: 20px;
  padding: 30px;
  text-align: center; }

.carrousel {
  margin: 20px; }

.button_1 {
  float: left;
  margin: 17px; }

.button_2 {
  float: right;
  margin: 17px; }

.grid__1 {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 5px;
  margin: auto;
  padding: 5px;
  justify-content: center;
  align-items: center; }

.grid__5 {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto auto 77px;
  grid-column-gap: 35px;
  grid-row-gap: 5px;
  justify-content: center;
  justify-items: center;
  margin: 15px; }

.footer {
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
  display: inline-block;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-color: #222831;
  text-align: center;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px; }
  .footer .footer__p {
    color: white; }
