
body { 
    font-family: 'Oswald', sans-serif;
    height: 1000px;
    padding: 0px;

}
    
section > img  { background-image:"./imagenes/copia2.jpg " ;
                 width: 100%;
                 height: 100%;
                 position: static;
                }
  
div ul  { 
    text-align: right;
        }
 ul li { display:inline-block ;
        padding:15px;
        margin:auto;
       }
 ul li a { list-style-type: none;
          text-decoration: none;
          color: white;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          font-size: 15px;
          line-height: 19px; 
            }   
     
         
h1 {font-size: 70px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:#0b4b2e;
    letter-spacing: normal;
    word-spacing: 10px;
    
     }
.div__recuadro { background-color: #b9b8b8;
               margin: 15px;
               padding: 5px;
              }     
.animacion { animation-duration: 3s ;
             animation-name: aparecer;
            }
            @keyframes aparecer {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            
h1.rosa {
        font-family: 'Oswald', sans-serif;
        letter-spacing: 3px;  
        color:  #f17668;
        position: absolute;
    
    }

h2  {text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: normal;
    text-transform: capitalize;
    color: #17A363;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 30px;
    padding: 5px;
    }

h3 {font-family: 'Oswald', sans-serif;
    font-size: 25px;
    line-height: normal;
    text-transform: capitalize;
    color:darkorange;
    text-align: center;
    margin: 8px;
    padding: 2px; ;
    }
.h3__underline {
              text-decoration: underline; 
            }
h3.left     { text-align: start; 

              }
h4  { font-family: 'Oswald', sans-serif;
    font-size: 25px;
    line-height: normal;
    text-transform: capitalize;
    color:#17A363;
    text-align: center; 
    } 



p { 
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.5;
    word-spacing: 1px;
    line-height: 10px;
    display: inline;
    margin: 15px;
    padding:5px;
    border: transparent;
         }
p strong {color:rgb(70, 70, 70)}    

.d-block { width: 100%;
           height: 100%;

}


.historia { justify-content: center;
            text-align: center;
            justify-items: center;

}

 div.media { margin: 10px;
            padding: 20px;

}            
.container3 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; 
        grid-column-gap: 10px;
        text-align: center;
        background-image: linear-gradient( #e8e8e8,#839b97) ;
        padding: 1px;
        margin: 0px;
        justify-content: center;
        justify-items: center;
    }

.grid4{
      display: grid;
      grid-template-columns:400px 400px 400px;
      grid-template-rows: 550px 550px 550px ;
      grid-column-gap:3px;
      grid-row-gap: 3px;
      background-color:  #e8e8e8;
      padding: 10px;
      margin: 10px;
      justify-content: center;
      justify-items: center;
     
    }
.border{ background-image: linear-gradient( #e8e8e8,#839b97)
}
.imgaleria { width: 100%;
             height: 100%;

}
.grid5 { display: grid;
              grid-template-columns: 400px 400px 400px ;
              grid-template-rows:  100px 400px 80px 80px;
              grid-column-gap: 10px;
              grid-row-gap:5px;
              justify-content: center;
              justify-items: center; 
              margin: 20px;
              padding: 5px;
            }
.imgpresupuesto { width: 100%;
                  height: 100%;

}


@media (max-width: 576px) {
.nav { font-size: 1px;
       text-align:start ;
       align-self: stretch;
       margin: 0;
       padding: 0;
       
}

.contacto {
               justify-content: center;
               justify-items: center;
               text-align: center;

}



}
.d-flex { display: block;
          font-family:  'Oswald', sans-serif;
          font-size: 20px;
          text-transform: capitalize;
          text-decoration: overline; 
        
         }
.basic { font-size: 80px;
         font-family: 'Oswald', sans-serif;
         text-transform: capitalize;
         color:darkorange;
}

.footer { 
    
    display: inline-block;
    letter-spacing: 2px;
    word-spacing: 8px;  
    background-color:   rgb(70, 70, 70) ;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0. ;
    Right:0; 
    left:0;
    padding: 80px;

}
.footer__P { color: white;
          background-color:  rgb(70, 70, 70) ;

}
