$pink: #ffbbb4;
$grey: rgb(70, 70, 70); 
$white: white;
$h1Color: #cccccc;
$h2Color:  #cccccc;
$h3Color: black;
$h4Color: #393e46;
$colorlogo: #131313c9;
$letterColor: rgb(255, 255, 255);
$colorCard: #cccccc;
$backColor:#222831;











