$pink:  #f17668ef;
$grey: rgb(70, 70, 70); 
$white: white;
$h1Color: #0b4b2e; 
$h2Color:  #17A363;
$h4Color: #17A363;
$colorlogo: #131313c9;
$letterColor: rgb(255, 255, 255);
$colorCard: #cccccc;
$backColor: black;











