$pink:  #f17668;
$grey: rgb(70, 70, 70); 
$white: white;
$h1Color: #a3d2ca; 
$h2Color:  #a3d2ca;
$h3Color: #db6400;
$h4Color: #5eaaa8;
$colorlogo: #131313c9;
$letterColor: rgb(255, 255, 255);
$colorCard: #cccccc;
$backColor:#222831;











