// Extra small devices (portrait phones, less than 576px)
@media (max-width: 768px) {
    .section__img { @include sizes(400px, 700px);
    }
    .center{ position: absolute;  
             top: 20%;
             left: 100px;}
             .h1__rosa{ font-family: 'Abril Fatface', cursive; 
                color: $pink;
                @include fsize (12px);
                padding: 0px;
     }
}
