$widthMax: 100%;
$fontFamily: 'Bebas Neue', cursive; 
$familyRoboto: 'Roboto', sans-serif; 
$lettersize: 18px;

@mixin transform ($textTransform)
 {
  text-transform: $textTransform ;
}
@mixin sizes ($width, $heigth)
{
  width: $width;
  height: $heigth;
}
@mixin fsize ($fontsize) 
{
  font-size: $fontsize;
}



