$widthMax: 100%;
$fontFamily: 'Oswald', sans-serif ; 
$size: 70px; 
$familyRoboto: 'Roboto', sans-serif;
@mixin transform ($textTransform)
 {
  text-transform: $textTransform ;
}
@mixin sizes ($width, $heigth)
{
  width: $width;
  height: $heigth;
}
@mixin fsize ($fontsize) 
{
  font-size: $fontsize;
}



