@import "colors";
@import "variables";
body { font-family: $fontFamily;
       background-color: $backColor;
       height: auto;
}
.navbar { background-color:transparent;
          text-align: center; 
}
.navbar-toggler { color: white;

}
.nav__a { @include fsize (13px);
          color:white;
          font-family: $familyRoboto;
          letter-spacing: 0px;
          padding: 0px;
          margin: 0px;
}
.nav__a__index {color:black;
                font-family: $familyRoboto;
                letter-spacing: 0px;
                @include fsize (13px);
                padding: 0px;
                margin: 0px;
}
.nav__a:hover { color:$pink;
}
.nav__a__index:hover { color:$white;
}
.nav__center { position: absolute;

}
.section__img { @include sizes($widthMax, auto);
                display: block;
                position: absolute;
}
.center{ position: absolute;  
         top: 45%;
         left: 250px;
}
.fab { color: $white;
}
.fab:hover {color: $pink;
}
.text-media { font-size: 14px;
              color: $letterColor;
              text-align: start;
}
.margin__galeria { margin: 25px;
}
p { @include fsize ($lettersize);
    @include transform (capitalize);
    color: $letterColor;
    font-family: $familyRoboto;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    padding: 5px;
    text-align: center;
}
.p__contacto { text-align: start;
               line-height: 20px;
               padding: 5px;
               margin: 0px;
}
.p__index { @include fsize (24px);
            text-decoration: overline;
            padding: 10px;
            margin: auto;
}
h1 { @include transform (capitalize);
     @include fsize (55px);
     color: $white;
     text-align: center;
     font-family: $fontFamily;
     letter-spacing: normal;
     word-spacing: 10px;
     padding: 5px;
}
.h1__rosa{ font-family: 'Abril Fatface', cursive; 
           color: $pink;
           @include fsize (120px);
           padding: 0px;
} 
h2 { @include transform(capitalize);
     @include fsize(40px);
     color: $h2Color;
     font-family: $fontFamily;
     text-align: center;
     line-height: normal;
     letter-spacing: normal;
     word-spacing: normal;
     margin: auto;
     padding: 0px;
}
.h2__media { margin: 10px;
             color: $white;
             font-family: $fontFamily;
}
.h2__media:hover {color: $pink;
}
h3 { @include fsize (30px);
     @include transform(capitalize);
     color: $h3Color;
     font-family: $fontFamily;
     text-align: center;
     line-height: normal;
     margin: 8px;
     padding: 2px;
}
.h3__media { color: $white;
             text-align: start;
             background: transparent;
             position: relative;
             animation: mymove 5s infinite;
             padding: 0px;
             margin: 20px;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}
.h3__animation { border-radius: 10px;
                 width: auto;
                 height: auto;
                 background-color: $white;
                 animation-name: example;
                 animation-duration: 5s;
}
@keyframes example {
    from {background-color: black;}
    to {background-color: white;}
  }
h4{ @include fsize(20px);
    @include transform(capitalize);
    color: $h4Color;
    font-family: $fontFamily;
    line-height: normal;
    text-align: center; 
} 
.basic { @include transform(capitalize);
         @include fsize (25px);
         color: $white;
         font-family: $fontFamily;
         text-align: center;
         padding: 0px;
}
.back-mobile {display: none;}
.galeria { padding: 5px;
           @include sizes (300px, 360px);
}
.galeria:hover { box-shadow: 0 0 1px 4px rgba(255, 255, 255, 0.863);
                 transform: scaleX(-1);
}
.galeria__2 {@include sizes (450px, auto);
             background-color: black;
             margin: auto;
             padding: 0px;
}
.rounded-circle { @include sizes (350px,350px);
}
.presupuesto { @include sizes(350px,370px);
               border-radius: 15px 50px;
}
.container__media { position: relative;
                    width: 50%;
}
.d-flex { border-radius: 3px;
         @include sizes (500px, 300px);
}
.overlay { @include sizes (500px, 0px);
           position: absolute;
           bottom: 100%;
           left: 0;
           right: 0;
           background-color: rgba(0, 0, 0, 0.212);
           overflow: hidden;
           transition: .5s ease;
}
.container:hover .overlay { bottom: 0;
                            height: 100%;
}
.text { color: white;
        font-family: $familyRoboto;
        text-align: center;
        @include fsize (20px);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.media { margin: auto;
         padding: 10px;
}
.text-media { width: auto;
              text-align: center;
              color: white;
              padding: 0px;
              margin: 0px;
              @include transform (capitalize);
}
.card  { @include sizes (auto,auto);
         background-color:transparent;
         margin:auto;
         text-align: center;
}
.card-title { font-family: $fontFamily; 
              @include fsize (35px);
}
.card-text { @include fsize (15px);
             @include transform (capitalize);
             color: white; 
             font-family: $familyRoboto;
             line-height: 0px;
}
.animacion {animation-duration: 8s;
            animation-name: aparecer;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.grid__2 { display: grid;
           grid-template-columns: auto auto;
           grid-template-rows: auto auto;
           grid-column-gap: 0px;
           justify-content: center;
           justify-items: center;
           margin: auto;
           padding: 10px;
}
.grid__5 { display: grid;
           grid-template-columns: auto auto auto;
           grid-template-rows: auto;
           grid-column-gap: 20px;
           justify-content: center;
           justify-items: center;
           margin: auto;
           padding: 10px;
}
.fab { color:$white;
}
.footer { top: 90px;
          margin-top:0px;
          padding-top:0px;
          display: inline-block;
          letter-spacing: normal;
          word-spacing: normal;  
          line-height: 0px;
          background-color: #0c0e1165;
          text-align: center;
          font-family: $fontFamily;
          @include sizes ( 100% ,auto);
          position: relative;
          bottom: 0;
          right: 0;
          left: 0;
          padding:20px;
}
.footer__p { color: $white;
            @include fsize (16px);
}

@import "mobile";


