@import "colors" ;
@import "variables" ;
body { font-family: $fontFamily;
       padding: 0px;
       margin: auto;
       background-color: $backColor;
       height: auto;
}
.navbar { @include sizes (auto, auto);
          background-color:transparent;
          text-align: left; 
}
.nav__a { color:white;
          font-family: $familyRoboto;
          letter-spacing: 0px;
          @include fsize (13px);
          padding: 0px;
          margin: 0px;
}
.nav__a__index {color:black;
                font-family: $familyRoboto;
                letter-spacing: 0px;
                @include fsize (13px);
                padding: 0px;
                margin: 0px;
}
.nav__a:hover { color:$pink;

}
.nav__a__index:hover { color:$white

}
.nav__center {
              position: absolute;
}
.container__h1 { position: relative;
}
.section__img { width: $widthMax;
                height: 100%;
                margin: auto;
}
.center{ position: absolute;  
         top: 45%;
         left: 250px;

}
.fab { color: white;
}
.fab:hover {color: $pink;

}
.background__contacto { background-image: url(../imagenes/estudio.jpg);
                        padding: 50px;
                        margin: auto;
                        width: $widthMax;
                        height: 700px;
}
.text-media { font-size: 14px;
              color: $letterColor;
              text-align: start;
}
.margin__galeria { margin: 25px;
}
p { color: $letterColor;
    @include fsize ($lettersize);
    font-family: $familyRoboto;
    @include transform(capitalize); 
    text-decoration: none;
    text-transform: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    padding: 5px;
    text-align: center;
}
.p__contacto {@include fsize(18px);
    color: $letterColor;
    @include transform (capitalize);
    padding: 0px;
    margin: 0px;
    text-align: start;
    line-height: 20px;
    padding: 5px;
}
.p__index { color: $white;
            font-size: 34px;
            text-decoration: overline;
            font-family: $familyRoboto;
}
h1 {@include transform (capitalize);
    @include fsize (55px);
    text-align: center;
    font-family: $fontFamily;
    color: $white;
    letter-spacing: normal;
    word-spacing: 10px;
    padding: 5px;
}

.h1__rosa{font-family: 'Abril Fatface', cursive;
          letter-spacing: normal;  
          color: $pink;
          @include fsize (120px);
          @include transform (capitalize);
          padding: 0px;
          align-items: center;
        
          
}
.recuadro__h1 { display: flex;
                background-color: transparent;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin:auto;
} 
h2 {text-align: center;
    font-family: $fontFamily;
    font-size: 40px;
    line-height: normal;
    @include transform(capitalize);
    @include fsize(40px);
    color: $h2Color;
    letter-spacing: normal;
    word-spacing: normal;
    margin:auto;
    padding: 0px;
}
.h2__media {text-align: center;
            margin: 10px;
            padding: 0px;
            color: white;
            font-family: $fontFamily;
            @include transform (capitalize);
}
.h2__media:hover {color:$pink;

}
h3 {font-family:$fontFamily;
    @include fsize (30px);
    line-height: normal;
    @include transform(capitalize);
    color: rgb(2, 2, 2);
    text-align: center;
    margin: 8px;
    padding: 2px;
}
.h3__underline { text-decoration: underline;
}
.h3__left { text-align: start;
            color: $h3Color;
            margin: 0px;
}
.h3__media { color: $white;
             text-align: start;
             @include fsize (30px);
             padding: 0px;
             margin: 20px;
             background:transparent;
             position: relative;
             animation: mymove 5s infinite;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }

h4{ font-family: $fontFamily;
    @include fsize(20px);
    line-height: normal;
    @include transform(capitalize);
    color: $h4Color;
    text-align: center; 
} 

.basic { font-family: $fontFamily;
         @include transform(capitalize);
         @include fsize (25px);
         color: $white;
         text-align: center;
         padding: 0px;
}
.galeria { height: 360px;
           padding: 5px;
           width: 300px;
}
.galeria:hover { box-shadow: 0 0 1px 4px rgba(255, 255, 255, 0.863);
                 transform: scaleX(-1);
}
.galeria__2 {@include sizes (400px, 500px);
             padding: 0px;
             background-color: black;
             margin: auto;
}
.presupuesto { @include sizes(300px,300px);
    border: 1px solid;
    padding: 2px;
    box-shadow: 5px 10px 18px white;
    border-radius: 10px;
    
}
.img__index { width: 200px;
              height: auto;

}
.rounded-cirlce{ @include sizes(200px,200px);
}
.container__media { position: relative;
                    width: 50%;
}
.d-flex {display: block;
         width: 100%;
         height: auto;
         border-radius: 3px;
         @include sizes (500px, 280px)
}
.overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.212);
    overflow: hidden;
    width:500px;
    height:0;
    transition: .5s ease;
  }
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
.text { font-family: $familyRoboto;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
  }
.media { margin: auto;
         padding: 5px;
}
.text-media { width: auto;
              padding:0px ;
              margin: 0px;
              text-align: center;
              color: white;
}
.card  { width: 300px;
         height: 500px;
         background-color:transparent;
         margin:auto;
         text-align: center;
}
.card-title { font-family: $fontFamily; 
              font-size: 35px;
              text-align: center;
}
.card-text { color: white; 
             @include fsize(15px);
             font-family: $familyRoboto;
             @include transform (capitalize);
             line-height: 0px;
             text-align: center;
}
.animacion {animation-duration: 7s;
            animation-name: aparecer;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.card-d { @include sizes (300px, 300px);
          margin: 0px;
          padding: 0px;
}
.card-body-d {color: $h3Color;
              text-align: center;
              padding: 0px;
              font-family:$fontFamily;
              text-decoration: overline;
              @include fsize(15px);
}
.card-link { color: $pink;
}

.carrousel { margin: 20px;
}
.button_1 { float: left;
            margin: 17px;
}
.button_2 { float: right;
            margin: 17px;
}
.grid__1 { display: grid;
           grid-template-columns:200px 200px  200px 200px 200px ;
           grid-template-rows: auto;
           grid-column-gap: 20px;
           margin: auto;
           padding: 5px;
           justify-content: center;
           align-items: center;
}
.grid__1i { display: grid;
            grid-template-columns:300px 300px 300px;
            grid-template-rows: auto;
            grid-column-gap: 20px;
            margin: 100px;
            padding: 10px;
            justify-content: center;
            align-items: center;
}
.grid__5 { display: grid;
           grid-template-columns: 300px 300px 300px;
           grid-template-rows: 500px;
           grid-column-gap: 20px;
           justify-content: center;
           justify-items: center;
           margin: auto;
           padding:10px;
}
.fab { color: white;

}
.footer {   top: 90px;
            margin-top:0px;
            padding-top:0px;
            display: inline-block;
            letter-spacing: normal;
            word-spacing: normal;  
            line-height: 0px;
            background-color: #0c0e1165;
            text-align: center;
            font-family: $fontFamily;
            @include sizes ( 100% ,auto);
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            padding:20px;
            .footer__p { color: $white;
                         @include fsize (16px);
                        }
}