@import "colors" ;
@import "variables" ;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav { font-size: 1px;}
}
body { font-family: $fontFamily;
       padding: 0px;
       margin: 0px;
       background-color: $backColor;
       height: auto;
}
nav { height: 44px;
}

.nav__a { color: $white;
          font-family: $fontFamily;
          @include fsize (17px);
          padding: 10px;
          margin: 3px;
}
.section__img { width: 900px;
                height: 500px;
                margin: 25px;

}
.text-media { font-size: 15px;
              color: $letterColor;
              text-align: start;
}
p { color: $letterColor;
    @include fsize (14px);
    font-family: $familyRoboto;
    @include transform(); 
    text-decoration: none;
    text-transform: inherit;
    letter-spacing: auto;
    word-spacing: auto;
    line-height: auto;
    padding: 5px;
    text-align: center;
}
.p__contacto {@include fsize(18px);
    color: $letterColor;
    @include transform (capitalize);
    padding: 0px;
    margin: 0px;
    text-align: start;
    line-height: 20px;
    padding: 5px;
}

h1 {@include transform (capitalize);
    @include fsize (55px);
    text-align: center;
    font-family: $fontFamily;
    color: $h1Color;
    letter-spacing: normal;
    word-spacing: 10px;
    padding: 5px;
}
.container__h1 { position: relative;
    .center{ position: absolute;                     
             top: 80%;
        .h1__rosa{ font-family: 'Bebas Neue', cursive;
                   letter-spacing: normal;  
                   color: $pink ;
                   @include fsize (65px);
                   padding: 10px;
                   margin: 10px;
                   background-color:  $colorlogo;
                   align-items: center;
                }
            }
}
.recuadro__h1 { display: flex;
                background-color: #f8f1f136;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin:auto;
} 
h2 {text-align: center;
    font-family: $fontFamily;
    font-size: 40px;
    line-height: normal;
    @include transform(capitalize);
    @include fsize(40px);
    color: $h2Color;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 14px;
    padding: 0px;
}
.h2__media {text-align: start;
}
h3 {font-family:$fontFamily;
    @include fsize(25px);
    line-height: normal;
    @include transform(capitalize);
    color: $h3Color;
    text-align: center;
    margin: 8px;
    padding: 2px;
    text-decoration: overline;
}
.h3__underline { text-decoration: underline;
}
.h3__left { text-align: start;
            color: $h3Color;
            margin: 0px;

}
.h3__media { color: $h3Color;
            text-align: center;
            text-decoration: none;

}
h4{ font-family: $fontFamily;
    @include fsize(20px);
    line-height: normal;
    @include transform(capitalize);
    color: $h4Color;
    text-align: center; 
} 

.basic { font-family: $fontFamily;
         @include transform(capitalize);
         @include fsize (25px);
         color: $h3Color;
         text-align: start;
         padding: 5px;
         text-decoration: overline;
}
.galeria { width: 100px;
           height: 100px;
           margin:0px;
           padding:0px;
}
.galeria__2 {@include sizes (400px, 500px);
             padding: 0px;
             background-color: black;
             margin: 0px;
}
.presupuesto { @include sizes(250px,250px);

}
.rounded-cirlce{ @include sizes(200px,200px);
}
.media { margin: 0px;
         padding: 0px;

}

.card {background-color: transparent;
       padding: 5px;
       width: 200px;
       height: 240px;
       justify-content: center;
       align-items: center;
       position: static;

}
.card-title { font-family: $fontFamily; 
              font-size: 35px;
}
.card-text { color: white; 
             @include fsize(15px);
             font-family: $familyRoboto;
             @include transform (capitalize);
}
.animacion {animation-duration: 7s;
            animation-name: aparecer;
}
.card-d { @include sizes (300px, 300px);
          margin: 0px;
          padding: 0px;
}
.card-body-d {color: $h3Color;
              text-align: center;
              padding: 0px;
              font-family:$fontFamily;
              text-decoration: overline;
              @include fsize(15px);
}
@keyframes aparecer {
           0% {
               opacity: 0;
           }
           100% {
               opacity: 1;
           }
}
.flex-container { display: flex;
                  margin: 20px;
                  padding: 30px;
                  text-align: center;
}
.carrousel { margin: 20px;
}
.button_1 { float: left;
            margin: 17px;
}
.button_2 { float: right;
            margin: 17px;
}
.grid__5 { display: grid;
           grid-template-columns: 250px 250px 250px ;
           grid-template-rows: auto auto 77px;
           grid-column-gap: 35px;
           grid-row-gap: 5px;
           justify-content: center;
           justify-items: center;
           margin: 15px;
}

.footer {   align-items: center;
            margin-top:0px;
            padding-top:0px;
            display: inline-block;
            letter-spacing: 1px;
            word-spacing: 5px;  
            background-color: $grey ;
            text-align: center;
            font-family: $fontFamily;
            @include sizes ($widthMax, 40px);
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 5px;
            .footer__p { color: white; 
            }
} 

          